.container {
  pointer-events: none !important; }
  .container > * {
    pointer-events: auto; }

.container.container--inset-zero {
  padding: 0px;
  overflow: hidden; }

.container.container--inset-xs {
  padding: 2px;
  overflow: hidden; }

.container.container--inset-s {
  padding: 4px;
  overflow: hidden; }

.container.container--inset-m {
  padding: 7px;
  overflow: hidden; }

.container.container--inset-l {
  padding: 14px;
  overflow: hidden; }

.container.container--inset-xl {
  padding: 30px;
  overflow: hidden; }

.container.container--inset-xxl {
  padding: 64px;
  overflow: hidden; }

.container.container--inset-xxxl {
  padding: 128px;
  overflow: hidden; }

.container.container--inline-zero {
  margin: 0px; }
  .container.container--inline-zero > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0px; }

.container.container--inline-xs {
  margin: -1px; }
  .container.container--inline-xs > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 1px; }

.container.container--inline-s {
  margin: -2px; }
  .container.container--inline-s > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 2px; }

.container.container--inline-m {
  margin: -3.5px; }
  .container.container--inline-m > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 3.5px; }

.container.container--inline-l {
  margin: -7px; }
  .container.container--inline-l > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 7px; }

.container.container--inline-xl {
  margin: -15px; }
  .container.container--inline-xl > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 15px; }

.container.container--inline-xxl {
  margin: -32px; }
  .container.container--inline-xxl > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 32px; }

.container.container--inline-xxxl {
  margin: -64px; }
  .container.container--inline-xxxl > .container__item {
    display: inline-block;
    vertical-align: middle;
    margin: 64px; }

.container.container--inline-stack-zero {
  margin-bottom: 0px; }
  .container.container--inline-stack-zero > .container__item {
    margin-bottom: 0px; }

.container.container--inline-stack-xs {
  margin-bottom: -1px; }
  .container.container--inline-stack-xs > .container__item {
    margin-bottom: 1px; }

.container.container--inline-stack-s {
  margin-bottom: -2px; }
  .container.container--inline-stack-s > .container__item {
    margin-bottom: 2px; }

.container.container--inline-stack-m {
  margin-bottom: -3.5px; }
  .container.container--inline-stack-m > .container__item {
    margin-bottom: 3.5px; }

.container.container--inline-stack-l {
  margin-bottom: -7px; }
  .container.container--inline-stack-l > .container__item {
    margin-bottom: 7px; }

.container.container--inline-stack-xl {
  margin-bottom: -15px; }
  .container.container--inline-stack-xl > .container__item {
    margin-bottom: 15px; }

.container.container--inline-stack-xxl {
  margin-bottom: -32px; }
  .container.container--inline-stack-xxl > .container__item {
    margin-bottom: 32px; }

.container.container--inline-stack-xxxl {
  margin-bottom: -64px; }
  .container.container--inline-stack-xxxl > .container__item {
    margin-bottom: 64px; }

.container.container--stack-zero > .container__item:not(:last-child) {
  margin-bottom: 0px; }

.container.container--stack-xs > .container__item:not(:last-child) {
  margin-bottom: 2px; }

.container.container--stack-s > .container__item:not(:last-child) {
  margin-bottom: 4px; }

.container.container--stack-m > .container__item:not(:last-child) {
  margin-bottom: 7px; }

.container.container--stack-l > .container__item:not(:last-child) {
  margin-bottom: 14px; }

.container.container--stack-xl > .container__item:not(:last-child) {
  margin-bottom: 30px; }

.container.container--stack-xxl > .container__item:not(:last-child) {
  margin-bottom: 64px; }

.container.container--stack-xxxl > .container__item:not(:last-child) {
  margin-bottom: 128px; }

.grid {
  pointer-events: none !important; }
  .grid > * {
    pointer-events: auto; }

.grid.grid--columns-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }
  .grid.grid--columns-2 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }

.grid.grid--columns-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; }
  .grid.grid--columns-3 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-3 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }

.grid.grid--columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center; }
  .grid.grid--columns-4 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-4 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-4 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }

.grid.grid--columns-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center; }
  .grid.grid--columns-5 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-5 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-5 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-5 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }

.grid.grid--columns-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  .grid.grid--columns-6 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-6 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-6 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-6 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-6 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }

.grid.grid--columns-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center; }
  .grid.grid--columns-7 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-7 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-7 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-7 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-7 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-7 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }

.grid.grid--columns-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center; }
  .grid.grid--columns-8 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-8 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-8 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-8 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-8 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-8 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-8 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }

.grid.grid--columns-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center; }
  .grid.grid--columns-9 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-9 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-9 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-9 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-9 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-9 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-9 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-9 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }

.grid.grid--columns-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center; }
  .grid.grid--columns-10 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-10 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-10 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-10 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-10 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-10 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-10 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-10 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-10 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }

.grid.grid--columns-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center; }
  .grid.grid--columns-11 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-11 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-11 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-11 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-11 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-11 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-11 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-11 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-11 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }
  .grid.grid--columns-11 .grid__item.grid__item--11-columns-wide {
    grid-column-end: span 11; }

.grid.grid--columns-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }
  .grid.grid--columns-12 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-12 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-12 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-12 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-12 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-12 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-12 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-12 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-12 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }
  .grid.grid--columns-12 .grid__item.grid__item--11-columns-wide {
    grid-column-end: span 11; }
  .grid.grid--columns-12 .grid__item.grid__item--12-columns-wide {
    grid-column-end: span 12; }

.grid.grid--columns-13 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  align-items: center; }
  .grid.grid--columns-13 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-13 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-13 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-13 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-13 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-13 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-13 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-13 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-13 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }
  .grid.grid--columns-13 .grid__item.grid__item--11-columns-wide {
    grid-column-end: span 11; }
  .grid.grid--columns-13 .grid__item.grid__item--12-columns-wide {
    grid-column-end: span 12; }
  .grid.grid--columns-13 .grid__item.grid__item--13-columns-wide {
    grid-column-end: span 13; }

.grid.grid--columns-14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  align-items: center; }
  .grid.grid--columns-14 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-14 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-14 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-14 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-14 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-14 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-14 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-14 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-14 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }
  .grid.grid--columns-14 .grid__item.grid__item--11-columns-wide {
    grid-column-end: span 11; }
  .grid.grid--columns-14 .grid__item.grid__item--12-columns-wide {
    grid-column-end: span 12; }
  .grid.grid--columns-14 .grid__item.grid__item--13-columns-wide {
    grid-column-end: span 13; }
  .grid.grid--columns-14 .grid__item.grid__item--14-columns-wide {
    grid-column-end: span 14; }

.grid.grid--columns-15 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  align-items: center; }
  .grid.grid--columns-15 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-15 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-15 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-15 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-15 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-15 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-15 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-15 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-15 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }
  .grid.grid--columns-15 .grid__item.grid__item--11-columns-wide {
    grid-column-end: span 11; }
  .grid.grid--columns-15 .grid__item.grid__item--12-columns-wide {
    grid-column-end: span 12; }
  .grid.grid--columns-15 .grid__item.grid__item--13-columns-wide {
    grid-column-end: span 13; }
  .grid.grid--columns-15 .grid__item.grid__item--14-columns-wide {
    grid-column-end: span 14; }
  .grid.grid--columns-15 .grid__item.grid__item--15-columns-wide {
    grid-column-end: span 15; }

.grid.grid--columns-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center; }
  .grid.grid--columns-16 .grid__item.grid__item--2-columns-wide {
    grid-column-end: span 2; }
  .grid.grid--columns-16 .grid__item.grid__item--3-columns-wide {
    grid-column-end: span 3; }
  .grid.grid--columns-16 .grid__item.grid__item--4-columns-wide {
    grid-column-end: span 4; }
  .grid.grid--columns-16 .grid__item.grid__item--5-columns-wide {
    grid-column-end: span 5; }
  .grid.grid--columns-16 .grid__item.grid__item--6-columns-wide {
    grid-column-end: span 6; }
  .grid.grid--columns-16 .grid__item.grid__item--7-columns-wide {
    grid-column-end: span 7; }
  .grid.grid--columns-16 .grid__item.grid__item--8-columns-wide {
    grid-column-end: span 8; }
  .grid.grid--columns-16 .grid__item.grid__item--9-columns-wide {
    grid-column-end: span 9; }
  .grid.grid--columns-16 .grid__item.grid__item--10-columns-wide {
    grid-column-end: span 10; }
  .grid.grid--columns-16 .grid__item.grid__item--11-columns-wide {
    grid-column-end: span 11; }
  .grid.grid--columns-16 .grid__item.grid__item--12-columns-wide {
    grid-column-end: span 12; }
  .grid.grid--columns-16 .grid__item.grid__item--13-columns-wide {
    grid-column-end: span 13; }
  .grid.grid--columns-16 .grid__item.grid__item--14-columns-wide {
    grid-column-end: span 14; }
  .grid.grid--columns-16 .grid__item.grid__item--15-columns-wide {
    grid-column-end: span 15; }
  .grid.grid--columns-16 .grid__item.grid__item--16-columns-wide {
    grid-column-end: span 16; }

.grid.grid--stack-zero {
  grid-row-gap: 0px; }

.grid.grid--stack-xs {
  grid-row-gap: 2px; }

.grid.grid--stack-s {
  grid-row-gap: 4px; }

.grid.grid--stack-m {
  grid-row-gap: 7px; }

.grid.grid--stack-l {
  grid-row-gap: 14px; }

.grid.grid--stack-xl {
  grid-row-gap: 30px; }

.grid.grid--stack-xxl {
  grid-row-gap: 64px; }

.grid.grid--stack-xxxl {
  grid-row-gap: 128px; }

.grid.grid--gutter-zero {
  grid-column-gap: 0px; }

.grid.grid--gutter-xs {
  grid-column-gap: 2px; }

.grid.grid--gutter-s {
  grid-column-gap: 4px; }

.grid.grid--gutter-m {
  grid-column-gap: 7px; }

.grid.grid--gutter-l {
  grid-column-gap: 14px; }

.grid.grid--gutter-xl {
  grid-column-gap: 30px; }

.grid.grid--gutter-xxl {
  grid-column-gap: 64px; }

.grid.grid--gutter-xxxl {
  grid-column-gap: 128px; }

.layers {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.layer {
  position: absolute;
  width: 100%; }
  .layer.layer--cover-to-fit {
    height: 100%;
    overflow: hidden; }
  .layer.layer--cover-with-overflow {
    height: 1px;
    min-height: 100%;
    overflow-y: scroll; }
  .layer.layer--pass-events, .layer.layer--pass-events .layer__content {
    pointer-events: none !important; }
    .layer.layer--pass-events > *, .layer.layer--pass-events .layer__content > * {
      pointer-events: auto; }
  .layer.layer--block-events {
    pointer-events: auto; }

.layer__content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/00/Crab_Nebula.jpg");
  background-size: cover;
  background-position: center;
  height: 170px; }

.fill.fill--light {
  background-color: #E2E4E9; }
.fill.fill--medium {
  background-color: #C5C9D3; }
.fill.fill--blue {
  background-color: #3469a5; }

.header {
  font-family: "Lato"; }
  .header.header--s {
    color: #7C859C;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -4px;
    letter-spacing: 0.5px; }
  .header.header--l {
    color: #21242B;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -4px; }

.paragraph {
  font-family: "Lato"; }
  .paragraph.paragraph--s {
    color: #7C859C;
    font-size: 14px;
    margin-bottom: -4px; }

.tag {
  border-radius: 3px;
  background-color: #C5C9D3;
  padding: 4px 7px; }

.tag__text {
  font-family: "Lato";
  color: #21242B;
  font-size: 14px; }

.button {
  border-radius: 3px;
  padding: 14px 30px; }

.button__text {
  text-align: center;
  font-family: "Lato";
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #3a435e; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=index.css.map */
