@import "vars/space";

@import "helpers/pass-events";

@import "space/container";
@import "space/grid";

@import "layer/layer";

@import "components/card";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58,67,94,1);
}

* {
  box-sizing: border-box;
}
