@import "space/vars";
@import "space/container";
@import "space/grid";

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.example-component {
  background: black;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}
