.layers {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  width: 100%;

  &.layer--cover-to-fit {
    height: 100%;
    overflow: hidden;
  }

  &.layer--cover-with-overflow {
    height: 1px;
    min-height: 100%;
    overflow-y: scroll;
  }

  &.layer--pass-events {
    &, .layer__content {
      @include pass-events;
    }
  }

  &.layer--block-events {
    pointer-events: auto;
  }
}

.layer__content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
