$grid-columns-min: 2;
$grid-columns-max: 16;

@mixin grid($num-columns, $gutter-space, $stack-space) {
  display: grid;
  grid-template-columns: repeat($num-columns, 1fr);
  grid-gap: $stack-space $gutter-space;
  .grid__item {
    @for $i from $grid-columns-min through $num-columns {
      &.grid__item--#{$i}-columns-wide {
        grid-column-end: span $i;
      }
    }
  }
}

@for $i from $grid-columns-min through $grid-columns-max {
  @each $stack-key, $stack-value in $spaces {
    @each $gutter-key, $gutter-value in $spaces {
      .grid {
        &.grid--columns-#{$i} {
          &.grid--gutter-#{$gutter-key} {
            &.grid--stack-#{$stack-key} {
              @include grid($i, $gutter-value, $stack-value);
            }
          }
        }
      }
    }
  }
}
