$grid-columns-min: 2;
$grid-columns-max: 16;

@mixin grid($num-columns, $gutter-space, $stack-space) {
  margin-right: -$gutter-space;
  margin-bottom: -$stack-space;
  & > .grid__item {
    display: inline-block;
    width: calc(#{100/$num-columns}% - #{$gutter-space});
    margin-right: $gutter-space;
    margin-bottom: $stack-space;
  }
}

@for $i from $grid-columns-min through $grid-columns-max {
  @each $stack-key, $stack-value in $spaces {
    @each $gutter-key, $gutter-value in $spaces {
      .grid {
        &.grid--columns-#{$i} {
          &.grid--gutter-#{$gutter-key} {
            &.grid--stack-#{$stack-key} {
              @include grid($i, $gutter-value, $stack-value);
            }
          }
        }
      }
    }
  }
}
