$grid-columns-min: 2;
$grid-columns-max: 16;

.grid {
  @include pass-events;
}

@for $i from $grid-columns-min through $grid-columns-max {
  .grid.grid--columns-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
    align-items: center;
    .grid__item {
      @for $j from $grid-columns-min through $i {
        &.grid__item--#{$j}-columns-wide {
          grid-column-end: span $j;
        }
      }
    }
  }
}

@each $stack-key, $stack-value in $spaces {
  .grid.grid--stack-#{$stack-key} {
    grid-row-gap: $stack-value;
  }
}

@each $gutter-key, $gutter-value in $spaces {
  .grid.grid--gutter-#{$gutter-key} {
    grid-column-gap: $gutter-value;
  }
}
